name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.19'

      - name: Vet
        run: go vet ./...

      - name: Build
        run: |
          VERSION=$(git describe --tags --always || echo dev)
          go build -ldflags "-X github.com/leifarriens/gpu-leaf/internal/version.Version=$VERSION" -v ./cmd/gpuleaf
